
LOCATE COMP "osc_clk25"         SITE "P6";
FREQUENCY PORT "osc_clk25" 25 MHZ;
LOCATE COMP "led"               SITE "T6";
LOCATE COMP "button"            SITE "R7";
LOCATE COMP "phy_rst_"          SITE "R6";

LOCATE COMP "HUB75_R0" SITE "G16";
LOCATE COMP "HUB75_G0" SITE "H14";
LOCATE COMP "HUB75_B0" SITE "G15";
LOCATE COMP "HUB75_R1" SITE "F15";
LOCATE COMP "HUB75_G1" SITE "F16";
LOCATE COMP "HUB75_B1" SITE "E16";
LOCATE COMP "HUB75_E" SITE "N4";
LOCATE COMP "HUB75_A" SITE "N5";
LOCATE COMP "HUB75_B" SITE "N3";
LOCATE COMP "HUB75_C" SITE "P3";
LOCATE COMP "HUB75_D" SITE "P4";
LOCATE COMP "HUB75_CLK" SITE "M3";
LOCATE COMP "HUB75_STB" SITE "N1";
LOCATE COMP "HUB75_OE" SITE "M4";
