
LOCATE COMP "osc_clk25"         SITE "P6";
FREQUENCY PORT "osc_clk25" 25 MHZ;
LOCATE COMP "led"               SITE "T6";
LOCATE COMP "button"            SITE "R7";
LOCATE COMP "phy_rst_"          SITE "R6";

LOCATE COMP "J1_1" SITE "C4";
LOCATE COMP "J1_2" SITE "D4";
LOCATE COMP "J1_3" SITE "E4";
LOCATE COMP "J1_5" SITE "D3";
LOCATE COMP "J1_6" SITE "F5";
LOCATE COMP "J1_7" SITE "E3";
LOCATE COMP "J1_8" SITE "N4";
LOCATE COMP "J1_9" SITE "N5";
LOCATE COMP "J1_10" SITE "N3";
LOCATE COMP "J1_11" SITE "P3";
LOCATE COMP "J1_12" SITE "P4";
LOCATE COMP "J1_13" SITE "M3";
LOCATE COMP "J1_14" SITE "N1";
LOCATE COMP "J1_15" SITE "M4";